.Topbar {
  height: var(--topbar-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: red;
  padding: var(--spacing);

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;

    span {
      font-size: 1.5rem;
    }
  }

  .about {
    width: 200px;
    display: flex;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: var(--accent-color);
      font-size: 1.2rem;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
