* {
  --topbar-height: 12vh;
  --spacing: 20px;
  --text-color: #383a3d;
  --accent-color: #00bfa6;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  // overflow: hidden;
  color: var(--text-color);
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
  height: calc(100vh - var(--topbar-height));

  & > :first-child {
    padding: var(--spacing);
  }
}
